@page "/CFDI/Busqueda"
@namespace Sicem_Blazor.CFDI.Pages
@using System.IO
@using Microsoft.Extensions.Configuration
@using Sicem_Blazor.CFDI.Models
@using Syncfusion.Blazor.Navigations

<div class="d-flex flex-column w-100 h-100">

    <div class="title-page" style="text-transform:uppercase;">BUSQUEDA AVANZADA CFDI'S</div>

    <div class="border rounded bg-white p-2" style="height: calc(100% - 45px);" >
        <div class="d-flex align-items-center p-4">
            
            <div class="mx-2">
                <label>Desde</label>
                <input type="date" class="px-1 py-2 ml-2 me-2" style="width:110px;" @bind-value="@desde">
            </div>

            <div class="mx-2">
                <label>Hasta</label>
                <input type="date" class="px-1 py-2 ml-2 me-2" style="width:110px;" @bind-value="@hasta">
            </div>

            <div class="mx-2">
                <label>RFC</label>
                <input class="px-1 py-2 ml-2 me-2" type="text" @bind-value="@rfc" />
            </div>

            <div class="mx-2">
                <label>Razón Social</label>
                <input class="px-1 py-2 ml-2 me-2" type="text" @bind-value="@razonSocial" />
            </div>

            <div class="button px-4 py-2 mx-3" @onclick="RealizarConsulta">
                <i class="fa fa-binoculars mr-2"></i>
                <label class="mb-0">Realizar Búsqueda</label>
            </div>
        </div>

        <div class="p-2 d-flex align-items-center">
            <div class="button px-3 py-2 bg-success mr-4" @onclick="ExportarExcel_Click" >
                <i class="fa fa-file-excel mr-2"></i>
                <span>Exportar Resultados</span>
            </div>
        </div>
    
        <div class="m-2 w-100 ns-small" style="height: calc(100% - 106px)">
            <SfGrid @ref="DataGrid" DataSource="@datosGrid" TValue="Factura"
                AllowResizing="true" AllowSorting="true" AllowPaging="true" AllowExcelExport="true"
                Height="100%" Width="100%" EnableHover="true" RowHeight="14"
            >
                <GridPageSettings PageSize="100"></GridPageSettings>
                <GridColumns>
                    <GridColumn Field="@nameof(Factura.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Center" Width="180" />
                    <GridColumn Field="@nameof(Factura.UUID)" HeaderText="Folio Fiscal" TextAlign="TextAlign.Center" Width="180" />
                    <GridColumn Field="@nameof(Factura.Rfc)" HeaderText="RFC" TextAlign="TextAlign.Left" Width="110" />
                    <GridColumn Field="@nameof(Factura.RazonSocial)" HeaderText="Razon Social" TextAlign="TextAlign.Left" Width="190" />
                    <GridColumn Field="@nameof(Factura.Email)" HeaderText="Email" TextAlign="TextAlign.Left" Width="160" />
                    <GridColumn Field="@nameof(Factura.Estatus)" HeaderText="Estatus" TextAlign="TextAlign.Center" Width="90" Format="n0" />
                    <GridColumn Field="@nameof(Factura.Folio)" HeaderText="Folio" TextAlign="TextAlign.Center" Width="180" />
                    <GridColumn Field="@nameof(Factura.Subtotal)" HeaderText="SubTotal" TextAlign="TextAlign.Right" Width="120" Format="c2" />
                    <GridColumn Field="@nameof(Factura.Iva)" HeaderText="Iva" TextAlign="TextAlign.Right" Width="120" Format="c2" />
                    <GridColumn Field="@nameof(Factura.Total)" HeaderText="Total" TextAlign="TextAlign.Right" Width="120" Format="c2" />
                    <GridColumn Field="@nameof(Factura.FormaPago)" HeaderText="Forma de Pago" TextAlign="TextAlign.Left" Width="160" />
                    <GridColumn Field="@nameof(Factura.ClaveRegimen)" HeaderText="Regimen" TextAlign="TextAlign.Left" Width="180" />
                    <GridColumn Field="@nameof(Factura.Genero)" HeaderText="Genero" TextAlign="TextAlign.Left" Width="180" />
                    <GridColumn Field="@nameof(Factura.Fecha)" HeaderText="Fecha" TextAlign="TextAlign.Center" Width="140" />
                    <GridColumn Field="@nameof(Factura.Cancelo)" HeaderText="Cancelo" TextAlign="TextAlign.Left" Width="180" />
                    <GridColumn Field="@nameof(Factura.FechaCancelo)" HeaderText="Fecha Cancelacion" TextAlign="TextAlign.Center" Width="140" />
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

<BusyIndicator Busy="cargando" ContentText="@busyIndicatorText" />


<style>
.busy-control .busy-content
{
    width: 290px;
    height: 80px;
    font-size: 1.2rem;
}
</style>