@namespace Sicem_Blazor.SqlManager.Views.Partials
@using Sicem_Blazor.SqlManager.Models


<div class="panel-root">
    <div class="actions-panel">
        @if(processing)
        {
            <button class="btn btn-primary mdc-button mdc-button--raised mdc-ripple-upgraded px-3">
                <div class="spinner-border ml-0 ms-0 mr-2 me-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <span class="mdc-button__label pr-2">Ejecutar Query</span>
            </button>
        }
        else
        {
            <MatButton Class="btn btn-primary" Raised="true" Icon="play_arrow" OnClick="@RunOnClick" Label="Ejecutar Query"></MatButton>
            
            <button type="button" class="button bg-success px-3 h-100 my-2 mx-2" @onclick="ExportExcelClick">
                <i class="fa fa-file-excel mr-2"></i>
                <span>Exportar Resultados</span>
            </button>
        }   

        
    </div>

    <div class="enlaces-panel">
        <div class="p-1 bg-secondary text-white">Enlaces</div>
        
        <div class="d-flex flex-column h-100 overflow-auto">
            @if(Enlaces != null)
            {
                <div>
                    @foreach(var item in EnlacesDisponibles)
                    {
                        <div class="d-flex align-items-center p-1">
                            <input type="checkbox" checked="@(Query.Enlaces.Select(item => item.Id).Contains(item.Id))" @onchange="@(e => CheckboxChanged(e,item))"/>
                            <label class="ml-1 ms-2">@item.Nombre</label>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="d-flex align-items-center p-2" style="height: 2rem;">
            <div class="w-50" role="form-group">
                <input type="checkbox" id="checkAll" @onchange="@(e => CheckAll(e))"/>
                <label class="ml-1 ms-2" for="checkAll">Seleccionar Todos</label>
            </div>

            <div class="w-50">
                <input type="search" class="form-control pb-2 mb-2" @bind-value="searchText" placeholder="Buscar..." />
            </div>
        </div>
    </div>

    <div class="text-panel">
        <div class="p-1 bg-secondary text-white">Editor:
            @if(Query != null)
            {
                <span class="mx-1">@Query.Name</span>
            }
        </div>
        <InputTextArea @bind-Value="@Query.Query"/>
    </div>

    <div class="output-panel">
        
        <div class="p-1 bg-secondary text-white">Resultados</div>

        <div class="p-1 bg-light border-bottom d-flex align-items-center">
            @if(processing)
            {
                <div class="spinner-border mr-2 me-2 p-1" role="status"> </div>
            }
        </div>

        <div class="d-flex flex-column bg-light h-100 overflow-auto">
            @foreach (var item in Query.Results)
            {
                <div class="d-flex align-items-center p-4 m-2 border text-muted" style="border-radius: 0.5rem; background: white;">
                    @switch(item.Status)
                    {
                        case QueryResult.QueryResultStatus.Success:
                            <i class="fas fa-check-circle text-success mr-2 me-2" style="font-size:1.5rem;"></i>
                            break;
                        case QueryResult.QueryResultStatus.Failure:
                            <i class="fas fa-exclamation-circle text-danger mr-2 me-2" style="font-size:1.5rem;"></i>
                            break;
                        default:
                            <div class="spinner-border p-2 mr-2 me-2" role="status"> </div>
                            break;
                    }
                    <div class="mx-2">@item.Name</div>
                    <div class="mx-2">
                        @if(item.Status == QueryResult.QueryResultStatus.Success)
                        {
                            <span>Tables: @item.Result.Tables.Count</span>
                        }
                    </div>
                    <div class="ml-auto">
                        @if(item.Status == QueryResult.QueryResultStatus.Success)
                        {
                            <button class="btn btn-secondary" @onclick="(e => ShowResults(item))">Resultados</button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<ResultsVtn @ref="resultsVtn1" OnClose="@(e => showResultsModal = false)" Visible="showResultsModal"/>