@page "/PagoLineaAnalitycs"
@namespace Sicem_Blazor.PagoLinea.Views
@using System.IO
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Charts
@using System.Threading.Tasks
@using Sicem_Blazor.PagoLinea.Models
@using Sicem_Blazor.PagoLinea.Data

<div class="pagoAnalitycLayout">

    <div class="title-page" style="grid-area:1/1/2/3;">ANALISIS PAGO EN LINEA</div>

    <div class="nav-tabs">
        <MatTabBar @ref="mattabbar" ActiveChanged="MatTabBarActiveChanged">
            <MatTabLabel Id="archivos">
                <h6>Archivos</h6>
            </MatTabLabel>
            <MatTabLabel Id="cargados">
                <h6>Pagos cargados</h6>
            </MatTabLabel>
            <MatTabLabel Id="noaplicados">
                <h6>Pagos no aplicados</h6>
            </MatTabLabel>
        </MatTabBar>
    </div>

    <div class="global-actions">
        <button class="btn btn-secondary rounded px-3 py-2 mr-1" disabled>
            Some action
        </button>

        <button class="btn btn-secondary rounded px-3 py-2 mr-1" disabled>
            Some action 2
        </button>
    </div>


    <div class="nav-content">
        @if(tabIndex == 0)
        {
            <div class="d-flex flex-column">
                <div>
                    <label for="uploadFile" class="btn btn-primary px-3 py-2 mx-2 my-2">
                        <i class="fa fa-upload mr-1"></i>
                        <span>Cargar Archivo</span>
                        <InputFile id="uploadFile" style="display: none;" OnChange="HandleUploadFile" />
                    </label>
                </div>
                <div class="h-100 w-100 border-top mt-1">
                    <SfGrid @ref="DataGridFiles" DataSource="@recordsFiles" TValue="RecordsFile" AllowResizing="true" AllowSorting="true" Height="100%" Width="100%" EnableHover="true">
                        <GridColumns>
                            <GridColumn Field="@nameof(RecordsFile.Name)" HeaderText="Archivo" TextAlign="TextAlign.Left" Width="240"/>
                            <GridColumn Field="@nameof(RecordsFile.TotalRecords)" HeaderText="Total" TextAlign="TextAlign.Left" Width="100" Format="n0"/>
                            <GridColumn Field="@nameof(RecordsFile.From)" HeaderText="Desde" TextAlign="TextAlign.Left" Width="120" Format="d"/>
                            <GridColumn Field="@nameof(RecordsFile.To)" HeaderText="Hasta" TextAlign="TextAlign.Left" Width="120" Format="d"/>
                            <GridColumn HeaderText="Acciones" TextAlign="TextAlign.Center" Width="40">
                                <Template>
                                    @{
                                        var data = (context as RecordsFile);
                                        
                                        <div class="d-flex p-1">
                                            <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Remover Archivo" @onclick="@( e => RemoveFile(data))">
                                                <i class="fa fa-eraser mr-1" aria-hidden="true"></i>
                                                <span>Remover</span>
                                            </button>
                                        </div>
                                    }
                            </Template> 
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        }

        @if(tabIndex == 1)
        {
            <div class="w-100 h-100">
                <SfGrid @ref="DataGrid" DataSource="@Records" TValue="TransactionRecord" AllowGrouping="true" AllowResizing="true" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" Height="100%" Width="100%" EnableHover="true">
                    <GridGroupSettings ShowDropArea="false" Columns="@(new string[]{"Concepto"})"></GridGroupSettings>
                    <GridColumns>
                        <GridColumn Field="@nameof(TransactionRecord.ID)" HeaderText="Id" TextAlign="TextAlign.Left" Width="170" />
                        <GridColumn Field="@nameof(TransactionRecord.ReferenciaComercio)" HeaderText="Referencia" TextAlign="TextAlign.Left" Width="115"/>
                        <GridColumn Field="@nameof(TransactionRecord.Fecha)" HeaderText="Fecha" TextAlign="TextAlign.Left" Width="115"/>
                        <GridColumn Field="@nameof(TransactionRecord.FechaDispersion)" HeaderText="Fecha Dispersion" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Tipo)" HeaderText="Tipo" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.MedioDePago)" HeaderText="Medidos de Pago" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Plataforma)" HeaderText="MedidPlataforma de Pago" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Estado)" HeaderText="Estado" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.MensajeMedioDePago)" HeaderText="Mensaje MP" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Contrato)" HeaderText="Contrato" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.ComisionComercio)" HeaderText="Comision" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.IvaComision)" HeaderText="IVA Comision" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.TotalImporte)" HeaderText="Total Importe" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.TotalCobrado)" HeaderText="Total Cobrado" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.FileName)" HeaderText="Archivo" TextAlign="TextAlign.Right" Width="120" />
                        <GridColumn Field="@nameof(TransactionRecord.Concepto)" HeaderText="Concepto" TextAlign="TextAlign.Left" Width="115" />
                    </GridColumns>
                </SfGrid>
            </div>
        }

        @if(tabIndex == 2)
        {
            <div class="oprventas-container">
                <div class="mx-1 d-flex flex-column">
                    <div class="d-flex flex-row">
                        <input type="date" class="" style="width:110px;" @bind-value="@fecha1">
                        <input type="date" class="" style="width:110px;" @bind-value="@fecha2">
                    </div>
                    <div>
                        <input type="button" style="width:220px; border:1px solid gray;" @onclick="@Procesar" Value="PROCESAR"></input>
                    </div>
                </div>
                
                <div class="detalle-container">
                    <SfGrid @ref="DataGridNoAplicados" DataSource="@OprVentas" TValue="OprVenta" AllowGrouping="true" AllowResizing="true" AllowSorting="true" AllowFiltering="false"
                    AllowExcelExport="true" Height="100%" Width="100%" EnableHover="true">
                        <GridColumns>
                            <GridGroupSettings ShowDropArea="false" Columns="@(new string[]{"Oficina"})"></GridGroupSettings>
                            <GridColumn Field="@nameof(OprVenta.Id)" HeaderText="Id Venta" TextAlign="TextAlign.Left" Width="100" />
                            <GridColumn Field="@nameof(OprVenta.ReferenciaComercio)" HeaderText="Referencia" TextAlign="TextAlign.Left" Width="150"/>
                            <GridColumn Field="@nameof(OprVenta.Fecha)" HeaderText="Fecha" TextAlign="TextAlign.Center" Width="100" Format="d" />
                            <GridColumn Field="@nameof(OprVenta.Subtotal)" HeaderText="Subtotal" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                            <GridColumn Field="@nameof(OprVenta.Iva)" HeaderText="Iva" TextAlign="TextAlign.Center" Width="135" Format="c2" />
                            <GridColumn Field="@nameof(OprVenta.Total)" HeaderText="Total" TextAlign="TextAlign.Center" Width="135" Format="c2" />
                            <GridColumn Field="@nameof(OprVenta.Cobrado)" HeaderText="Cobrado" TextAlign="TextAlign.Center" Width="135" Format="c2" />
                            <GridColumn Field="@nameof(OprVenta.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Left" Width="100" />
                            <GridColumn HeaderText="Acciones" TextAlign="TextAlign.Left" Width="230" Visible="false">
                                <Template>
                                    @{
                                        var data = (context as OprVenta);
                                        <div class="d-flex p-1">
                                            <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Some action">
                                                <i class="fa fa-calendar-day" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
                <div class="pendientes-container">
                    <SfGrid DataSource="@RecordsMissings" TValue="TransactionRecord" AllowGrouping="true" AllowResizing="true" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" Height="100%" Width="100%" EnableHover="true">
                    <GridColumns>
                        <GridGroupSettings ShowDropArea="false" Columns="@(new string[]{"Concepto"})"></GridGroupSettings>
                        <GridColumn Field="@nameof(TransactionRecord.ID)" HeaderText="Id" TextAlign="TextAlign.Left" Width="170" />
                        <GridColumn Field="@nameof(TransactionRecord.ReferenciaComercio)" HeaderText="Referencia" TextAlign="TextAlign.Left" Width="115"/>
                        <GridColumn Field="@nameof(TransactionRecord.Fecha)" HeaderText="Fecha" TextAlign="TextAlign.Left" Width="115"/>
                        <GridColumn Field="@nameof(TransactionRecord.FechaDispersion)" HeaderText="Fecha Dispersion" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Tipo)" HeaderText="Tipo" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.MedioDePago)" HeaderText="Medidos de Pago" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Plataforma)" HeaderText="MedidPlataforma de Pago" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Estado)" HeaderText="Estado" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.MensajeMedioDePago)" HeaderText="Mensaje MP" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.Contrato)" HeaderText="Contrato" TextAlign="TextAlign.Left" Width="125" />
                        <GridColumn Field="@nameof(TransactionRecord.ComisionComercio)" HeaderText="Comision" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.IvaComision)" HeaderText="IVA Comision" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.TotalImporte)" HeaderText="Total Importe" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.TotalCobrado)" HeaderText="Total Cobrado" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(TransactionRecord.FileName)" HeaderText="Archivo" TextAlign="TextAlign.Right" Width="120" />
                        <GridColumn Field="@nameof(TransactionRecord.Concepto)" HeaderText="Concepto" TextAlign="TextAlign.Left" Width="115" />
                    </GridColumns>
                </SfGrid>
                </div>
            </div>
        }
    </div>

</div>


@* ****** Dialogos y ventanas secundarias ****** *@
<BusyIndicator Busy="@busyDialog" ContentText="Cargando datos...." />

<style>
    .pagoAnalitycLayout {
        display: grid;
        width: 100%;
        height: calc(100% - 1rem);
        grid-gap: 0px;
        grid-template-columns: 700px calc(100% - 710px);
        grid-template-rows: 3rem 5rem calc(100% - 8rem);
    }

    .nav-tabs
    {
        grid-area:2/1/3/2;
    }

    .global-actions
    {
        grid-area:2/2/3/3;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        padding: .5rem 1rem;
    }
    .nav-content
    {
        border: 1px solid #bbb;
        width: 100%;
        height: 100%;
        padding: .5rem;
        background-color: white;
        grid-area:3/1/4/3;
    }

    .oprventas-container
    {
        display: grid;
        width: 100%;
        height: calc(100% - 0.5rem);
        grid-gap: .5rem;
        grid-template-columns: 100%;
        grid-template-rows: 5rem calc(50% - 2.5rem) calc(50% - 3rem);
    }

    .detalle-container
    {
        width: 100%;
        height: 100%;
    }

    .pendientes-container
    {
        width: 100%;
        height: 100%;
    }

</style>