@using Syncfusion.Blazor.Grids
@using Sicem_Blazor.PagoLinea.Models
@namespace Sicem_Blazor.PagoLinea.Views

@if (mostrarVentana) {
    <VentanaSecundaria Titulo="@titulo.ToUpper()" CerrarVentana="@HandleCloseModal" Filas="@(new double[] { 50, .75 })" Columnas="@(new double[]{.85})">
        <Content>

            <div class="m-1 p-2 border rounded bg-white" style="grid-area: 1/1/2/2;">
                <div class="w-100 d-flex align-items-center">
                    <MatButton Class="ml-1 mr-2" Raised="true" Style="height:2.5rem;" OnClick="@ExportData">Exportar Excel <i class="fa fa-file-excel-o ml-2" aria-hidden="true"></i> </MatButton>
                </div>
            </div>

            <div class="m-1 p-2 border rounded bg-white" style="grid-area: 2/1/3/2;">
                <SfGrid @ref="DataGrid" DataSource="@Datos" AllowResizing="true" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" AllowPdfExport="true" Height="100%" Width="auto" EnableHover="true">
                    <GridColumns>
                        <GridColumn Field="@nameof(PagoLineaResumenDia.FechaString)" HeaderText="Fecha" TextAlign="TextAlign.Left" Width="120" />
                        <GridColumn Field="@nameof(PagoLineaResumenDia.TotalPagos)" HeaderText="Pagos cobrados" TextAlign="TextAlign.Right" Width="120" Format="n0" />
                        <GridColumn Field="@nameof(PagoLineaResumenDia.ImportePagos)" HeaderText="Importe cobrado" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(PagoLineaResumenDia.TotalPagosAplicados)" HeaderText="Pagos aplicados" TextAlign="TextAlign.Right" Width="120" Format="n0" />
                        <GridColumn Field="@nameof(PagoLineaResumenDia.ImportePagosAplicados)" HeaderText="Importe aplicado" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn Field="@nameof(PagoLineaResumenDia.TotalPagosPorAplicar)" HeaderText="Pagos por aplicar" TextAlign="TextAlign.Right" Width="120" Format="n0" />
                        <GridColumn Field="@nameof(PagoLineaResumenDia.ImportePagosPorAplicar)" HeaderText="Importe por aplicar" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                        <GridColumn HeaderText="Acciones" TextAlign="TextAlign.Center" Width="40">
                        <Template>
                            @{
                                var data = (context as PagoLineaResumenDia);
                                if (data.Id > 0 && data.Id < 90) {
                                    <div class="d-flex align-items-center justify-content-center">
                                        <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Detalle">
                                            <i class="fa fa-table" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                }
                            }
                        </Template>
                    </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>

        </Content>
    </VentanaSecundaria>
}