@inject ITarifasService tarifasService

<VentanaSecundaria Titulo="Agregar Catalogo CFE" Filas="@GridFilas" Columnas="@GridColumnas" CerrarVentana="@CerrarModal">
    <Content>
        <div class="item-cat">
            <label class="my-auto h5">Año:</label>
            <input type="number" @bind="@CatalogoNuevo.Af" disabled="@Editar"/>
        </div>

        <div class="item-cat">
            <label class="my-auto h5">Mes:</label>
            <input type="number" @bind="@CatalogoNuevo.Mf" disabled="@Editar"/>
        </div>

        <div class="item-cat">
            <label class="my-auto h5">INPC:</label>
            <input type="number" @bind="@CatalogoNuevo.Inpc" />
        </div>

        <div class="d-flex align-items-center justify-content-center mt-5">
            <button class="button py-2 w-100 mx-2" @onclick="AgregarCatalogo">
                 <span>@(Editar?"Editar":"Agregar")</span>
            </button>
        </div>

    </Content>
</VentanaSecundaria>
<style>
    .item-cat{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 7rem 1fr;
    }
    .item-cat input{
        padding-left: 1rem;
    }


</style>

@code{
    [Parameter] public EventCallback OnClosed {get; set;}
    [Parameter] public CatInpc UltimoCatalogo {get; set;}
    [Parameter] public bool Editar {get;set;}
    private double[] GridFilas = new double[]{30, 30, 30,70};
    private double[] GridColumnas = new double[]{ 220 };
    private CatInpc CatalogoNuevo ;
    private string Titulo = "Agregar Catalogo INPC";

    protected override void OnParametersSet()
    {
        Titulo = Editar?"Editar Catalogo UMA": "Agregar Catalogo UMA";

        if(Editar){
            CatalogoNuevo = UltimoCatalogo;
        }else{
            var _now = (new DateTime( (int) UltimoCatalogo.Af, (int) UltimoCatalogo.Mf, 1)).AddMonths(1);
            CatalogoNuevo = new CatInpc(){
                Af = _now.Year,
                Mf = _now.Month,
                Inpc = 1m,
                Factor = UltimoCatalogo.Factor
            };
        }
    }

    private async Task CerrarModal(){
        await OnClosed.InvokeAsync(null);
    }

    private async Task AgregarCatalogo(){
        if(!Editar){
            tarifasService.AgregarCatalogoINPC(CatalogoNuevo);
        }else{
            tarifasService.ActualizarCatalogoINPC(CatalogoNuevo);
        }
        await CerrarModal();
    }

}