@using MatBlazor
@inject IJSRuntime JSRuntime
@inject SicemService sicemService

<div class="sidebar-menu h-100">
    <div class="itemMenu" Key="1" @onclick="@(()=>MenuClick(1))">
        <a href="./ConsultaGeneral"><span class="fa fa-address-book-o"></span>Consulta General</a>
    </div>
    @if(sicemService.Usuario.Enlaces.Count() > 1){
        <div class="itemMenu" Key="665" @onclick="@(()=>MenuClick(665))">
            <a href="./AnalisisInfo"><span class="fa fa-search"></span>Búsqueda Avanzada</a>
        </div>
    }

    <div class="separador" />
    <div class="itemMenu" Key="2" @onclick="@(()=>MenuClick(2))"><a href="./Recaudacion"><span class="fa fa-money"></span>Recaudación</a></div>
    
    <div class="separador" />
    <div class="itemMenu" Key="15" @onclick="@(()=>MenuClick(15))"><a href="./PagoLinea"><span class="fa fa-money-check"></span><span>Pago En Linea</span></a></div>
    <div class="itemMenu" Key="16" @onclick="@(()=>MenuClick(16))"><a href="./PagoLineaAnalitycs"><span class="fa fa-file-invoice-dollar"></span><span>Analisis Pago Linea</span></a></div>
    <div class="separador" />

    <div class="itemMenu" Key="3" @onclick="@(()=>MenuClick(3))"><a href="./Descuentos"><span class="fa fa-book"></span>Descuentos</a></div>
    <div class="itemMenu" Key="4" @onclick="@(()=>MenuClick(4))"><a href="./Facturacion"><span class="fa fa-fax"></span>Facturación</a></div>
    <div class="itemMenu" Key="11" @onclick="@(()=>MenuClick(11))"><a href="./Eficiencia"><span class="fa fa-chart-area"></span>Eficiencia</a></div>
    <div class="itemMenu" Key="5" @onclick="@(()=>MenuClick(5))"><a href="./Micromedicion"><span class="fa fa-tachometer"></span>Micromedición</a></div>
    <div class="itemMenu" Key="8" @onclick="@(()=>MenuClick(8))"><a href="./Padron"><span class="fa fa-address-card-o"></span>Padrón de Usuarios</a></div>
    <div class="itemMenu" Key="9" @onclick="@(()=>MenuClick(9))"><a href="./Ordenes"><span class="fa fa-map-signs"></span>Ordenes de Trabajo</a></div>
    <div class="itemMenu" Key="6" @onclick="@(()=>MenuClick(6))"><a href="./ControlRezago"><span class="fa fa-bar-chart"></span>Antiguedad de Saldos</a></div>
    <div class="itemMenu" Key="10" @onclick="@(()=>MenuClick(10))"><a href="./Atencion"><span class="fa fa-users"></span>Atención de Usuarios</a></div>
    <div class="separador" />
    <div class="itemMenu" Key="12" @onclick="@(()=>MenuClick(12))"><a href="./SimuladorTarifario"><span class="fa fa-hand-holding-usd"></span>Simulador Tarifario</a></div>
    <div class="itemMenu" Key="13" @onclick="@(()=>MenuClick(13))"><a href="./Consulta-Ubitoma"><span class="fa fa-mobile"></span>Consulta Ubitoma</a></div>
    
    @if(sicemService.Usuario.Administrador){
        <div class="itemMenu" Key="666" @onclick="@(()=>MenuClick(666))"><a href="./Configuracion"><span class="fa fa-gear"></span>Configuración</a></div>
    }

</div>

@code {
    [Parameter] public EventCallback MenuItemClick {get;set;}

    public string msg = "test";
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task MenuClick(int key) {
        if (key != -1) {
            await JSRuntime.InvokeVoidAsync("RemoverCSSClass", new string[] { ".itemMenu", "active" });
            await JSRuntime.InvokeVoidAsync("AgregarCSSClass", new string[] { $".itemMenu[Key={key}]", "active" });
        }
        
        try{
            await MenuItemClick.InvokeAsync(null);
        }catch(Exception){
        }
    }

}
