@namespace Sicem_Blazor.Recaudacion.Views
@page "/RecaudacionAnalitico"
@using System.Threading.Tasks
@using Sicem_Blazor.Recaudacion.Models
@using Sicem_Blazor.Recaudacion.Data
@using Sicem_Blazor.Recaudacion.Views.Partials

<div class="layout-page">

    <div class="title-page" style="grid-area:1/1/2/2;">CONSULTA DE INGRESOS ANALITICO</div>

    <div class="border rounded bg-white p-2 d-flex align-items-center" style="color:#808080; grid-area:2/1/3/2;">
        @if(processing)
        {
            <div class="d-flex align-items-center justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
                <div class="fa-2x mx-2"> Procesando</div>
            </div>
        }
        else
        {
            <SeleccionarFecha MostrarPeriodos="@false" OcultarMes="@true" OcultarSector="@true" ProcesarParam="@Procesar" />
        }
    </div>

    <div class="w-100 h-100 py-2" style="grid-area:3/1/4/2;">
        <RecaudacionAnaliticoTotales Labels="@GraficaLabels" ResumenTotal="@analiticoResumenTotal" />
    </div>

    <div class="w-100 h-100 py-2" style="grid-area:4/1/5/2;">
        @if(processing)
        {
            <div class="d-flex flex-wrap justify-content-around p-4">
                @foreach(var officeStatus in officeStatuses ?? [])
                {
                    <div class="card border-secondary mb-3 mx-2" style="width: 24rem;">
                        <div class="card-body text-secondary">
                            <h5 class="card-title">@officeStatus.Oficina</h5>
                            <p class="card-text" style="height:2.5rem;">
                                @switch (officeStatus.Estatus)
                                {
                                    case ResumenOficinaEstatus.Completado:
                                        <i class="fas fa-check-circle" style="color:green; font-size:1.5rem;"></i>
                                        break;

                                    case ResumenOficinaEstatus.Error:
                                        <i class="fas fa-exclamation-circle" style="color:red; font-size:1.5rem;"></i>
                                        break;

                                    default:
                                        <div class="spinner-border p-2" role="status"> </div>
                                        break;
                                }
                            </p>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="border rounded bg-white d-flex align-items-center w-100 h-100">
                <SfChart @ref="chartAnalitico" Title="COMPARACIÓN DE INGRESOS DE LOS ÚLTIMOS 3 AÑOS" SubTitle="" Width="100%" Height="100%">
                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                    <ChartPrimaryYAxis Title="Ingresos" Visible="false" LabelFormat="c2" />
                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                    <ChartLegendSettings Visible="true" Position="LegendPosition.Top"></ChartLegendSettings>
                    <ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"></ChartZoomSettings>
                    <ChartSeriesCollection>
                        @for(int i = 0; i < GraficaLabels.Length; i++)
                        {
                            <ChartSeries XName="Descripcion" DashArray="5,1" DataSource="@itemsGrafica" YName="@($"Valor{i+1}")" Name="@(GraficaLabels[i])" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true">
                                    <ChartDataLabel Visible="true" />
                                </ChartMarker>
                            </ChartSeries>
                        }
                    </ChartSeriesCollection>
                </SfChart>
            </div>
        }
    </div>

</div>

<style>
    .layout-page
    {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 4rem 6rem 12rem calc(100% - 21.5rem);
        grid-template-columns: 100%;
        align-content: stretch;
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
    }
</style>


@* ****** Dialogos y ventanas secundarias ****** *@
<BusyIndicator Busy="@busyDialog" ContentText="Cargando datos...." />