@namespace Sicem_Blazor.Recaudacion.Views
@page "/RecaudacionAnalitico"
@using System.Threading.Tasks
@using Sicem_Blazor.Recaudacion.Models
@using Sicem_Blazor.Recaudacion.Data

<div class="layout-page">

    <div class="title-page">CONSULTA DE INGRESOS ANALITICO</div>

    <div class="border rounded bg-white px-2 d-flex align-items-center px-4" style="color:#808080;">
        @if(processing)
        {
            <div class="d-flex align-items-center justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
                <div class="fa-2x mx-2"> Procesando</div>
            </div>
        }
        else
        {
            <SeleccionarFecha MostrarPeriodos="@false" OcultarMes="@true" OcultarSector="@true" ProcesarParam="@Procesar" />
        }
    </div>

    <div class="border rounded bg-white d-flex align-items-center px-4">
        <div class="border rounded bg-white d-flex flex-column align-items-center justify-content-start p-4 mr-4" style="min-width: 24rem;">
            <div> Importe Año @GraficaLabels[0]</div>
            <div class="d-flex align-items-center justify-content-around">
                <div class="fa-3x text-center w-100">@GetTotalByAnoIndex(0).ToString("c2", currentCultureInfo)</div>
            </div>
        </div>
        <div class="border rounded bg-white d-flex flex-column align-items-center justify-content-around p-4 mr-4" style="min-width: 24rem;">
            <div> Importe Año @GraficaLabels[1]</div>
            <div class="d-flex align-items-center justify-content-around">
                <div class="fa-3x text-center w-100">@GetTotalByAnoIndex(1).ToString("c2", currentCultureInfo)</div>
            </div>
        </div>
        <div class="border rounded bg-white d-flex flex-column align-items-center justify-content-around p-4 mr-4" style="min-width: 24rem;">
            <div> Importe Año @GraficaLabels[2]</div>
            <div class="d-flex align-items-center justify-content-around">
                <div class="fa-3x text-center w-100">@GetTotalByAnoIndex(2).ToString("c2", currentCultureInfo)</div>
            </div>
        </div>
    </div>

    <div class="border rounded bg-white d-flex align-items-center w-100 h-100">
        <SfChart @ref="chartAnalitico" Title="COMPARACIÓN DE INGRESOS DE LOS ÚLTIMOS 3 AÑOS" SubTitle="" Width="100%" Height="100%">
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
            <ChartPrimaryYAxis Title="Ingresos" Visible="false" LabelFormat="c2" />
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartLegendSettings Visible="true" Position="LegendPosition.Top"></ChartLegendSettings>
            <ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"></ChartZoomSettings>
            <ChartSeriesCollection>
                <ChartSeries XName="Descripcion" DashArray="5,1" DataSource="@itemsGrafica" YName="Valor1" Name="@(GraficaLabels[0])" Type="ChartSeriesType.Line">
                    <ChartMarker Visible="true">
                        <ChartDataLabel Visible="true" />
                    </ChartMarker>
                </ChartSeries>
                <ChartSeries XName="Descripcion" DashArray="5,1" DataSource="@itemsGrafica" YName="Valor2" Name="@(GraficaLabels[1])" Type="ChartSeriesType.Line">
                    <ChartMarker Visible="true">
                        <ChartDataLabel Visible="true" />
                    </ChartMarker>
                </ChartSeries>
                <ChartSeries XName="Descripcion" DashArray="5,1" DataSource="@itemsGrafica" YName="Valor3" Name="@(GraficaLabels[2])" Type="ChartSeriesType.Line">
                    <ChartMarker Visible="true">
                        <ChartDataLabel Visible="true" />
                    </ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>

</div>

<style>
    .layout-page
    {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 4rem 6rem 11rem calc(100% - 20.5rem);
        grid-template-columns: 100%;
        align-content: stretch;
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
    }
</style>


@* ****** Dialogos y ventanas secundarias ****** *@
<BusyIndicator Busy="@busyDialog" ContentText="Cargando datos...." />