@namespace Sicem_Blazor.PagoCentralizado.Views
@using Microsoft.Extensions.Logging
@using Syncfusion.Blazor.Navigations
@using Sicem_Blazor.PagoCentralizado.Services

<div class="container">
    <div class="row g-2">
        @if(Grupo is not null)
        {
            <div class="col-12 p-3">
                <div class="mb-3">
                    <label for="tbtitle" class="form-label w-100 h5">Titulo</label>
                    <div class="d-flex align-items-center">
                        <input id="tbtitle" type="text" class="h4 p-2 w-50" @bind="@tituloGrupo" @bind:after="TitleChanged" />
                        @if(btnActualizarTitulo)
                        {
                            <button type="button" class="mx-2 btn btn-lg btn-success" @onclick="ActualizarTituloGrupo">
                                <i class="fa fa-save mr-1 me-1"></i>
                                Actualizar
                            </button>
                            <button type="button" class="mx-2 btn btn-lg btn-danger" @onclick="CancelarActualizarTitulo">
                                <i class="fa fa-close mr-1 me-1"></i>
                                Cancelar
                            </button>
                        }
                    </div>
                </div>
                
            </div>

            <div class="col-12 p-3 d-flex align-items-center">
                <button type="button" class="btn btn-lg h3 mx-1 btn-success" @onclick="@((e) => AgregarCuentaClick())">
                    <i class="fa fa-plus mr-1 me-1"></i>
                    Agregar Cuenta
                </button>
            </div>

            <div class="col-12">
                <SfGrid @ref="Grid" DataSource="@Data" Height="273px">
                    <GridEvents RowSelected="RowSelectHandler" TValue="PagoCentOprGrupo"></GridEvents>
                    <GridColumns>
                        <GridColumn Field=@nameof(PagoCentOprGrupo.Id) HeaderText="ID" Visible="false" TextAlign="TextAlign.Center"/>
                        <GridColumn Field=@nameof(PagoCentOprGrupo.IdOficina) HeaderText="Oficina" TextAlign="TextAlign.Center" Width="150" />
                        <GridColumn Field=@nameof(PagoCentOprGrupo.IdLocalidad) HeaderText="Localidad" TextAlign="TextAlign.Center" Width="150"/>
                        <GridColumn Field=@nameof(PagoCentOprGrupo.Cuenta) HeaderText="Cuenta" TextAlign="TextAlign.Center" Width="150" />
                        <GridColumn HeaderText="Acciones" Width="150">
                            <Template>
                            @{
                                var data = (context as PagoCentOprGrupo);
                                <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-lg mx-1 rounded-pill btn-outline-info" @onclick="((e) => EditarCuenta(data))">
                                        <i class="fa fa-pencil mr-1 me-1"></i>
                                    </button>
                                    <button type="button" class="btn btn-lg mx-1 rounded-pill btn-outline-danger">
                                        <i class="fa fa-trash-alt mr-1 me-1"></i>
                                    </button>
                                </div>
                            }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-warning" role="alert" >
                    <strong>Seleccione un grupo</strong>
                </div>
            </div>
        }
    </div>
</div>

<NewAccountVtn
    Visible="@ventanaSecundariaVisible"
    Titulo="@ventanaSecundariaTitle"
    Cuenta="@cuentaSeleccionada"
    CerrarVentana="@VentanSecundariaClosed"
/>